@page "/Quiz"
    <link href="/scss/Quiz.css" rel="stylesheet" />
    
<section>
    <div class="quiz-screen">
        
        <section>
            <h3>Question and answer?</h3>
        </section>
    </div>
</section>
