@inherits LayoutComponentBase

<div class="page" style="background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fcomuti.in%2F&psig=AOvVaw2VKs4723W8t8FHMn530HqX&ust=1630824282369000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLDJ-Ybc5PICFQAAAAAdAAAAABAD)">
    

    <div class="main" style="background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fcomuti.in%2F&psig=AOvVaw2VKs4723W8t8FHMn530HqX&ust=1630824282369000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLDJ-Ybc5PICFQAAAAAdAAAAABAD)">

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
